{% load staticfiles %}


<html>
    <head>
        <title>{% if title %}{{ title }} | {% endif %}Black Goat</title>
        <link rel="shortcut icon" type="image/png" href="{% static "goat/image/favicon.ico" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "goat/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "goat/css/font-awesome.min.css" %}" />
        <script type="text/javascript" src="{% static "goat/js/jquery-1.11.1.min.js"%}"></script>
        <script type="text/javascript" src="{% static "goat/js/bootstrap.min.js" %}"></script>
        <style>
        .nav a {
            height: 100%;
        }
        nav {
            bottom: 0px;

        }
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" style="height: 125px; background-color: white; border: none;">
                <div class="container-fluid" >
                    <div class="navbar-header">
                        <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false"
                            aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url "home" %}">
                            <img class="img img-responsive" src="{% static "goat/image/black_goat_100.png" %}" />
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                              <li class="active">
                                  <a href="{% url "home" %}">Home</a>
                              </li>
                              <li>
                                  <a href="{% url "authority-list" %}">Authorities</a>
                              </li>
                              <li>
                                  <a href="{% url "concept-list" %}">Concepts</a>
                              </li>
                              <li>
                                  <a href="{% url "identity-system-list" %}">Identity Systems</a>
                              </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>
