{% load staticfiles %}


<html>
    <head>
        <title>{% if title %}{{ title }} | {% endif %}Black Goat</title>
        <link rel="shortcut icon" type="image/png" href="{% static "goat/image/favicon.ico" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "goat/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "goat/css/font-awesome.min.css" %}" />
        <script type="text/javascript" src="{% static "goat/js/jquery-1.11.1.min.js"%}"></script>
        <script type="text/javascript" src="{% static "goat/js/bootstrap.min.js" %}"></script>
        <style>
        body {
            height: 100%;
        }
        </style>
    </head>
    <body>
        <div class="container" style="margin-top: 25px;">
            <img class="img img-responsive center-block" src="{% static "goat/image/black_goat_large.png" %}" />
        </div>
    </body>
</html>
